.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px 32px;
  nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
