@use "../../_mixins" as *;

.footer {
  background-color: #86a38f;
  color: #fff;
  .inner {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1000px;
    width: 92%;
    @include media(md) {
      flex-wrap: wrap;
      padding: 50px 0;
    }
    .footerLogo {
      margin-bottom: 20px;
      @include media(md) {
        width: 50%;
      }
    }
    .tel {
      display: flex;
      align-items: center;
      gap: 4px;
      padding-left: 2em;
      .telIcon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
      }
      .number {
        color: #fff;
        font-size: 14px;
      }
    }
    nav {
      border-left: 1px solid #fff;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px 0 16px 60px;
      @include media(md) {
        border-left: none;
        border-top: 1px solid #fff;
        gap: 16px;
        padding: 16px 0 16px 1em;
        margin-top: 20px;
        width: 100%;
      }
      a {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  small {
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
}
