@use "../_mixins" as *;

.subPageCaptionArea {
  background-color: #c1d5ca;
  padding: 80px 20px 120px;
  margin-top: 89px;
  .inner {
    color: #fff;
    width: min(92%, 1200px);
    margin: 0 auto;
    .subPageCaption {
      font-size: 80px;
      letter-spacing: 0.1em;
      line-height: 1.4;
      @include media(md) {
        font-size: 40px;
      }
    }
    span {
      font-size: 120%;
    }
  }
}

.container {
  width: min(92%, 800px);
  margin: 120px auto 140px;
  .caption {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 100px;
    @include media(md) {
      font-size: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 2px;
      background-color: #c1d5ca;
      border-radius: 2px;
    }
  }
}
