@use "../../_mixins" as *;

.button {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  display: block;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 16px;
  position: relative;
  margin: 0 auto;
  width: min(80%, 375px);
  @include media(md) {
    padding: 8px;
    width: 75%;
  }
  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 1px);
    right: -59px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #333;
    transform: translateY(-50%) rotate(45deg);
    transition: right 0.4s ease;
    @include media(md) {
      content: none;
    }
  }
  &::after {
    content: "";
    background-color: #333;
    height: 1px;
    width: 120px;
    position: absolute;
    top: 50%;
    right: -60px;
    transition: right 0.4s ease;
    @include media(md) {
      content: none;
    }
  }
  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    &::before {
      right: -79px;
    }
    &::after {
      right: -80px;
    }
  }
}
