@use "../../_mixins" as *;

.map {
  height: 400px;
  width: min(90%, 600px);
  margin: 0 auto 200px;
  @include media(md) {
    margin: 0 auto 40px;
  }
  iframe {
    height: 300px;
    width: 100%;
  }
}
